In [57]:
import pandas as pd

In [58]:
df = pd.read_csv("spotify_millsongdata.csv")

In [59]:
df.head(5)

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [60]:
df.tail(5)

,artist,song,link,text
57645,Ziggy Marley,Good Old Days,/z/ziggy+marley/good+old+days_10198588.html,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,/z/ziggy+marley/hand+to+mouth_20531167.html,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,/z/zwan/come+with+me_20148981.html,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,/z/zwan/desire_20148986.html,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,/z/zwan/heartsong_20148991.html,come in \r\nmake yourself at home \r\ni'm a ...

In [61]:
df.shape

(57650, 4)

In [62]:
df.isnull().sum()

artist    0
song      0
link      0
text      0
dtype: int64

In [63]:
df=df.sample(5000).drop('link',axis=1).reset_index(drop=True)

In [64]:
df.head(10)

,artist,song,text
0,Whitesnake,Girl,I have never known a woman \r\nWho loves me l...
1,Coldplay,Warning Sign,"A warning sign \r\nI missed the good part, th..."
2,Bob Dylan,Ballad Of Donald White,"My name is Donald White, you see, \r\nI stand..."
3,Oliver,I'd Do Anything,I'd do anything for you dear \r\nanything \r...
4,Bob Dylan,"It's All Over Now, Baby Blue","You must leave now, take what you need, you th..."
5,Evanescence,My Last Breath,Hold on to me love \r\nYou know I can't stay ...
6,Michael Buble,After All,Way back when we started \r\nThere was a part...
7,Frankie Laine,On The Sunny Side Of The Street,Walked with no one and talked with no one \r\...
8,Jennifer Lopez,Dance Again,"Dance, yes (Red One) \r\nLove, next \r\nDanc..."
9,Kanye West,Be-Cleve In Yourself,I know what it's like to feel down little girl...

In [65]:
df['text'][0]

"I have never known a woman  \r\nWho loves me like you do,  \r\nYou treat me like a dog  \r\nAn' make me shake my tail for you  \r\nI know the game you're playing  \r\nWhen you're turning all your tricks  \r\nIt's written on your face  \r\nYou just want your business fixed  \r\n  \r\nNo, I don't need a crystal ball  \r\nTo see what's in your mind  \r\nIf I don't give you what you want  \r\nYou treat me so unkind,  \r\nBut if I'm good and give you love  \r\nYou throw me down a bone,  \r\nBut if I'm bad you make me sad  \r\nAn' leave my love alone  \r\n  \r\nPretty little crazy white girl,  \r\nJust a pretty little crazy white girl,  \r\nPretty little crazy white girl  \r\nGirl, girl  \r\nPretty little crazy white girl  \r\n  \r\nI know, baby, you ain't fooling  \r\nWith all your high class schooling,  \r\nYou want everything your own way  \r\nIf I could, I would  \r\nDo every little thing a good man should,  \r\nBaby, I'd really give it to you  \r\nEvery day  \r\n  \r\nPretty little crazy white girl,  \r\nJust a pretty little crazy white girl,  \r\nPretty little crazy white girl  \r\nGirl  \r\n  \r\nMean mistreater,  \r\nThere ain't no one to beat you,  \r\nBut you treat me so bad  \r\nI've never known a woman  \r\nWho loves me like you do,  \r\nYou treat me like a dog  \r\nAn' still I shake my tail for you  \r\n  \r\nPretty little crazy white girl,  \r\nJust a pretty little crazy white girl,  \r\nPretty little crazy white girl  \r\nGirl, girl  \r\n  \r\nPretty little crazy white girl,  \r\nGirl, she treat me so bad  \r\nPretty little crazy white girl,  \r\nGirl, come on baby  \r\nPretty little crazy white girl,  \r\nI love the way you make me  \r\nGirl  \r\nPretty little crazy white girl,  \r\nGirl  \r\nPretty little crazy white girl\r\n\r\n"

In [66]:
df.shape

(5000, 3)

Text Cleaning/ Text PreProcessing

In [67]:
df['text'] = df['text'].str.lower().replace(r'^\w\s', ' ').replace(r'\n',' ',regex = True)

In [68]:
df.tail(5)

,artist,song,text
4995,Chris Brown,AWOL,why you're up in here starting drama? \r cute...
4996,Styx,Prelude 12,it was 'bout 15 years ago \r just about this ...
4997,Kenny Loggins,A Lover's Question,"does she love me, with all her heart \r shoul..."
4998,Gary Valenciano,Face To Face,if you let me i will be your shelter \r i wil...
4999,Everclear,Portland Rain,i stand out breaking in the portland rain \r ...

In [69]:
import nltk
from nltk.stem.porter import PorterStemmer

In [70]:
stemmer = PorterStemmer()

In [71]:
def token(txt):
    token = nltk.word_tokenize(txt)
    a = [stemmer.stem(w) for w in token]
    return " ".join(a)

In [72]:
token("you are beautiful, beauty")

'you are beauti , beauti'

In [73]:
df['text'].apply(lambda x: token(x))

0       i have never known a woman who love me like yo...
1       a warn sign i miss the good part , then i real...
2       my name is donald white , you see , i stand be...
3       i 'd do anyth for you dear anyth for you mean ...
4       you must leav now , take what you need , you t...
                              ...
4995    whi you 're up in here start drama ? cutey got...
4996    it wa 'bout 15 year ago just about thi time th...
4997    doe she love me , with all her heart should i ...
4998    if you let me i will be your shelter i will be...
4999    i stand out break in the portland rain i see t...
Name: text, Length: 5000, dtype: object

In [74]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [75]:
tfid = TfidfVectorizer(analyzer='word', stop_words='english')

In [76]:
tfid.fit_transform(df['text'])

<5000x24287 sparse matrix of type '<class 'numpy.float64'>'
	with 269953 stored elements in Compressed Sparse Row format>

In [77]:
matrix = tfid.fit_transform(df['text'])

In [78]:
similar = cosine_similarity(matrix)

In [79]:
similar[0]

array([1.        , 0.00427855, 0.03191703, ..., 0.03438876, 0.01768771,
       0.04408428])

In [81]:
df[df['song']=='AWOL'].index[0]

4995

Recommender Function

In [82]:
def recommender(song_name):
    idx = df[df['song']==song_name].index[0]
    distance = sorted(list(enumerate(similar[idx])), reverse = True, key = lambda x:x[1])
    song = []
    for s_id in distance[1:5]:
        song.append(df.iloc[s_id[0]].song)
    return song

In [83]:
recommender("AWOL")

['Top Of The World',
 'Baby Be Mine',
 'Who Do You Love?',
 'Everything, Everyday, Everywhere']

In [84]:
import pickle

In [85]:
pickle.dump(similar, open("similarity", "wb"))

In [86]:
pickle.dump(df, open("df", "wb"))